.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E2e1dE;
}

.back-ground {
  background-color: #00A884;
  height: 20%;
  width: 100%;
  position: absolute;
  top: 0;
}

.chat-container {
  width: 95%;
  max-width: 1800px;
  height: 95%;
  background-color: #fff;
  position: absolute;
  display: flex;
}

.chat-contacts {
  width: 30%;
  height: 100%;
  border-right: 1px solid #e6e6e6;
  max-height: 100%;
  overflow-y: auto;
}

.chat-item {
  box-sizing: border-box;
  padding: 10px;
  border-top: 1px solid #F0F2F5;
  border-bottom: 1px solid #F0F2F5;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title-chat-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.image-profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.image-profile-top {
  font-size: 40px;
  font-weight: bold;
  color: #00A884;
  background-color: #D9FDD3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.letter-profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00A884;
  background-color: #D9FDD3;
}

.title-message {
  font-size: 18px;
}

.title-message2 {
  font-size: 18px;
}

.last-message {
  color: #808080;
}

.group-users {
  color: #808080;
}

.chat-options {
  width: 100%;
  height: 80px;
  background-color: #F0F2F5;
}

.chat-messages {
  flex: 1;
  background-image: url('./assets/zap.png');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-messages-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 20px;
}

.chat-input-area {
  width: 100%;
  height: 70px;
  background-color: #F0F2F5;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chat-input {
  width: 90%;
  background-color: #fff;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 4px;
  font-size: 16px;
}

.send-message-icon {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.user-container-message {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 2px 0;
}

.right {
  justify-content: flex-end;
}

.left {
  justify-content: flex-start;
}

.user-my-message {
  background-color: #D9FDD3;
  padding: 10px;
  border-radius: 5px;
}

.user-other-message {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.name-input-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-input-content {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #00A884;
}

.name-input-text {
  color: #D9FDD3;
}

.name-input {
  border: none;
  background-color: #D9FDD3;
  color:#00A884;
  border-radius: 5px;
  margin: 0 10px;
}

.name-input-button {
  border-radius: 5px;
  background-color:#D9FDD3;
  color:#00A884;
  border: none;
  font-size: small;
  cursor: pointer;
}